<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>

<body>
<div th:switch="${users}">
    <h2 th:case="null">No users found!</h2>
    <div th:case="*">
        <h2>Клиенты</h2>
        <table>
            <thead>
                <th>Id</th>
                <th>Name</th>
                <th>Login</th>
                <th>Pass</th>
                <th>Email</th>
            </thead>
            <tr th:each="user : ${users}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.name}"></td>
                <td th:text="${user.login}"></td>
                <td th:text="${user.pass}"></td>
                <td th:text="${user.email}"></td>
<!--                <td><a th:href="@{userUpdate/{id}(id=${users.id})}">Edit</a></td>-->
<!--                <td><a th:href="@{userDelete/{id}(id=${users.id})}">Delete</a></td>-->

            </tr>
        </table>
</div>
<!--                    <td><a th:href="@{userUpdate/{id}(id=${users.id})}">Edit</a></td>-->
<!--    <td><a th:href="@{userDelete/{id}(id=${user.id})}">Delete</a></td>-->
<p><a href="/user-create">Создать клиента</a></p>
    <p><a href="/user-delete/{id}">Удалить клиента</a></p>

</div>
</body>
</html>



<!--        &#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->

<!--        <div>-->
<!--            <table>-->
<!--                <thead>-->
<!--                <th>ID</th>-->
<!--                <th>Login</th>-->
<!--                <th>UserName</th>-->
<!--                <th>Password</th>-->
<!--                <th>Roles</th>-->
<!--                <th>Операция</th>-->
<!--                </thead>-->
<!--                <tr th:each="user: ${allUsers}">-->
<!--                    <td th:text="${user.id}"</td>-->
<!--                    <td th:text="${user.login}"</td>-->
<!--                    <td th:text="${user.username}"</td>-->
<!--                    <td th:text="${user.password}"</td>-->
<!--                    <td th:text="${user.getRoles()}"</td>-->
<!--                    <td>-->
<!--                        <form>-->
<!--                            <button type="submit" th:formaction="@{/admin/user/delete/{id}(id=${user.getId()})}">Delete</button>-->
<!--                        </form>-->
<!--                    </td>-->
<!--                </tr>-->
<!--            </table>-->
<!--        -->
<!--        -&#45;&#45;&#45;&#45;&#45;&#45;-->

<!--    </div>-->
<!--    <p><a href="/user-сreate">Create user</a></p>--><!--<div th:switch="${users}">-->

<!--    <h2 th:case="null">No users found!</h2>-->
<!--    <div th:case="*">-->
<!--        <h2>users</h2>-->