# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Mobile Tools for Java (J2ME)
.mtj.tmp/
.idea
target

# Package Files #
*.jar